app:
  logLevel: DEBUG
  environment: development
database:
  host: banter-bus-database
  port: 27017
  user: banterbus
  password: banterbus
  name: banterbus
  authDB: admin
webserver:
  cors: ["http://localhost:3000"]
  port: 8080
  url: http://localhost
managementApi:
  port: 8090
  url: http://localhost
